header{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(images/pp1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px;
    padding-bottom: 100px;
    color: white;
    clip-path: polygon(100% 0, 100% 100%, 0% 80%, 0 100%, 0 0);
}
header>div>img{
    height: 200px;
    border-radius: 50%;
    border: 5px solid rgb(201,201,201);
}
header>div>p{
    margin-top: 20px;
}
header>div>p>span{
    font-size: 40px;
    font-weight: bold;
    color: rgb(211, 198, 5);
}
header>nav{
    background-color: rgba(255,255,255,0.488);
    border-radius: 10px;
    margin-bottom: 20px;
}
.navbar-brand{
    transition: 0.5s;
}
.navbar-brand:hover{
    transform: scale(1.1);
}
#carouselAutoplaying img{
 filter: brightness(40%) ;
}
#projects img{
transition: 1s;
}
#projects img:hover{
    transform: scale(.9);

}
#top-button{
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.carousel-inner{
    width: 1520px;
    height: 640px;
    border-style: solid;
    background-repeat: no-repeat;
    
    
    background-image: center;
}

